*{
    color: rgb(28, 0, 128);
}
body{
    background-color: gray;
}
/* h3{
    background-color: black;
    color: white;
    text-align: center;
} */

/* p{
    color: white;
    text-align: center;
}
h3{
    color: white;
text-align: center;
} */

/* DRY don't repeat yourself */
p span{
    color: orange;
}
li span{
    color: blue;
}